#index
{
    background: 2px blueviolet;
    right:20px;
    top:10px;
    position:fixed;

}
p
{
 background:2px whitesmoke;
 color:red;


.log
{
    background: 5px grey;
    color:yellowgreen;
   
}

[disabled]
{
    background:3px violet;
    color: brown;
}